<div style="width: 793.33px; height: 1122.67px; position: relative; background: white; overflow: hidden">
    <div class="page-logo" style="width: 35.90px; height: 35px; left: 680.17px; top: 45.08px; position: absolute; overflow: hidden"></div>
    <div style="width: 668px; left: 63.17px; top: 52.61px; bottom: 48px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex; overflow: hidden">
      <div style="width: 489px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex; flex-shrink: 0">
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Beeline Sans; font-weight: 400; letter-spacing: 0.34px; word-wrap: break-word">детализация с 21.02.26 по 20.03.26 создана 20.03.26 в 03:50</div>
        <div style="align-self: stretch; color: #6E788A; font-size: 16.06px; font-family: Beeline Sans; font-weight: 400; word-wrap: break-word">для номера +7 962 985-25-47</div>
      </div>
      <div class="data-page-body" style="align-self: stretch; flex: 1 1 auto; min-height: 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex; overflow: hidden">
        <div class="data-page-transactions" style="align-self: stretch; flex: 0 0 auto; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex; overflow: hidden">
<!--DATA_PAGE_TRANSACTIONS-->
        </div>
<!--DATA_PAGE_BANNER-->
      </div>
    </div>
    <div class="data-page-footer" style="width: 668px; left: 63.17px; bottom: 34px; position: absolute; height: 14px; padding-left: 6px; padding-right: 6px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="flex: 1 1 0; text-align: right; color: #A4ABB6; font-size: 14.38px; font-family: Beeline Sans; font-weight: 400; letter-spacing: 0.27px; word-wrap: break-word"><!--DATA_PAGE_NUMBER--></div>
    </div>
  </div>
